---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if paginator.posts -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>

    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>

      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h3>
        {% assign s = post.season_number | default: "" | append: "" %}
        {% assign e = post.episode_number | default: "" | append: "" %}

        <a class="post-link" href="{{ post.url | relative_url }}">
          {% if s != "" and e != "" %}
            <span class="episode-meta">
              S{% if s.size < 2 %}0{% endif %}{{ s }}
              E{% if e.size < 2 %}0{% endif %}{{ e }} —
            </span>
          {% elsif e != "" %}
            <span class="episode-meta">
              Episode {{ e }} —
            </span>
          {% endif %}
          {{ post.title | escape }}
        </a>
      </h3>


        {{ post.excerpt }}

      </li>
      {%- endfor -%}
    </ul>

    <div class="pagination">
      {%- if paginator.previous_page -%}
        <a class="previous" href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
      {%- endif -%}

      {%- if paginator.next_page -%}
        <a class="next" href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {%- endif -%}
    </div>

  {%- endif -%}

</div>
